body {
    background: #141318;
    font-family: 'Gruppo', cursive;
    font-size: 1.8rem;
    color: white;
    text-rendering: optimizeLegibility;
}
h1 {
    font-weight: bold;
}
.page {
    padding: 80px 0;
}
.hairline {
    font-family: 'Bungee Hairline', cursive;
}
.text-green {
    color: #04d361;
}
.text-bold {
    font-weight: 600;
}
.profile-photo {
    width: 300px;
    height: 300px;
    background: url('../img/photo.jpeg') center center no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}